{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Django</h1>
    <p class="lead">Django is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <h2>Create orders</h2>
        <p>Click below to create a new order!</p>
        <p><a class="btn btn-default" href="order/create">Create order</a></p>
    </div>
    <div class="col-md-2">
    </div>
</div>

{% endblock %}
