{% extends "app/layout.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-2">
        <h2>Order info</h2>
        <p>Customer: {{ order.customer }}</p>
        <p>Total: {{ order.total }}</p>
    </div>
    <div class="col-sm-10">

        <section class="menu drinks">

        {% for drink in drinks %}
            <div class="card">
                <h3> {{ drink.name }} </h3>
                <p> {{ drink.size }} {{ drink.price }}DKK</p>
                <input class="btn btn btn-primary" type="button" value="add"/>
            </div>
        {% endfor %}
        </section>
    </div>
</div>

{% endblock %}
